@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.maincontainer{
	width: 100%;
	height: 100vh;
	background: url("nasa.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.header{
	width: auto;
	height: 70px;
	display: flex;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 23px;
	z-index: 1;
}
.header span{
	padding: 20px 10px;
	color: #fff;
	display: flex;	
	align-items: center;
	justify-content: center;
}
.header a{
	color: #fff;
	font-family: arial,sans-serif;
	font-weight: normal;
	font-size: 13px;
	text-decoration: none;
}
.header a:hover{
	text-decoration: underline;
}
.header ion-icon{
	font-size: 20px;
}
.active{
	width: 40px;
	height: 40px;
	border-radius: 50%;
/*	background: pink;*/
	cursor: pointer;
}
.active:hover{
	background: rgba(255, 255, 255, 0.1);
/*	color: pink;*/
}
.active-toggle{
	background: rgba(255, 255, 255, 0.1);

}
.center{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.overlay{
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	left: 0;
}
.inputBox{
	width: 550px;
	height: 45px;
	border-radius: 50px;
	background: rgba(255,255,255,1);
	display: flex;
	align-items: center;
	padding: 0 15px;
	margin-top: 35px;
}
.inputBox ion-icon{
	font-size: 20px;
	color: grey;
}
.inputBox input{
	padding-left: 20px;
	width: 100%;
	height: 100%;
	border: none ;
	font-family: arial,sans-serif;
	font-size: 15px;
	outline-color: transparent;
	outline: none;
}
.mic{
/*	background-image: url("");*/
	width: 26px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-cont{
	width: 115px;
	height: 115px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	background: transparent;
	margin-top: 20px;
	position: relative;
}
.add-cont:hover{
	background: rgba(255, 255, 255, 0.1);
}
.add{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}
.add p{
	width: 35px;
	height: 35px;
	font-size: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-cont label{
	font-size: 13px;
	font-family: arial,sans-serif;
	color: #fff;
}
.pen{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: transparent;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pen:hover{
	background: rgba(255, 255, 255, 0.1);
}
.pen svg{
	fill: #fff;
}

/*apps cont*/
.apps-cont{
	width: 310px;
	height: 450px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	/* right: 10px;
	top: 60px; */
	z-index: 1;
	padding: 5px 5px;
	visibility: hidden;
	opacity: 0;
	transition: 0.2s;
	transform: scale(0.1);
	top: -150px;
	right: -110px;

}
.toggle-apps{
	/* display: flex; */
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	right: 10px;
	top: 60px;

}
/* width*/
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3); 
  border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 50px;
  opacity: .7;
}
.grid{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 440px;
	max-height: 440px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 20px 2.5px;
}
.icon{
	width: 85px;
	height: 85px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 10px;
	text-decoration: none;
	font-family: arial,sans-serif;
	color: #000;
	font-size: 13px;
	letter-spacing: 1px;
	margin: 4px;
	
}
.icon:hover{
	background: rgba(41, 98, 255, 0.1);

}

.seemore{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	margin-top: 25px;
}
.seemore button{
	padding: 10px 30px;
	border-radius: 5px;
	background: transparent;
	border: 1px solid lightgrey;
	color: rgba(41, 98, 255, 1);
	font-family: arial,sans-serif;
}
.seemore button:hover{
	background: rgba(26, 115, 232, 0.1);
}



/* addig overlay for add shortcat */
.add-overlay{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}
.show-overlay{
	display: flex;
}

.add-container{
	width: 510px;
	height: 270px;
	background: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	font-family: 'Poppins', sans-serif;
	
}
.add-head{
	width: 100%;
	font-size: 20px;
	margin-bottom: 5px;
}

.input-cont{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 15px;
	height: auto;
}
.input-cont small{
	font-size: 15px;
}
.input-cont input{
	width: 100%;
	height: 30px;
	margin-top: 3px;
	border-radius: 5px;
	border: 1px solid lightgray;
	padding-left: 10px;
	/* outline: #1a73e8; */
	outline-color: #1a73e8;
}

.add-btn{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
	margin-top: 15px;
}
.add-btn button{
	width: 100px;
	height: 35px;
	margin-left: 25px;
	border-radius: 5px;
	border: navajowhite;
	color: gray;
	font-family: 'Poppins',sans-serif;
}
.add-btn .active{
	background: #1a73e8;
	color: #fff;
}

/* shortut-container */
.shortut-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: auto;
	/* background: pink; */
	flex-wrap: wrap;

}
#shortutcontainer{
	display: flex;
}
.add{
	font-family: 'Poppins',sans-serif;
	text-decoration: none;
	color: #484343;

}
a{
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}


:root {
	--random-color: ${getRandomColor()};
  }
  
  .add-new {
	background: #f0f0f0; /* set a default background color */
  }
  
  .add-new::after {
	content: "";
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: var(--random-color);
  }


.dotted{
	width: 30px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	/* opacity: 0; */
}


/* remove-cont */
.remove-cont{
	width: 140px;
	height: 85px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: #fff;
	
	padding: 3px 5px;
	display: none;
	position: absolute;
	top: 0;
	right: 30px;
}
.show-action{
	display: flex;
}
.remove-cont li{
	width: 100%;
	padding: 7px;
	list-style: none;
	font-size: 13px;
	font-family: 'Poppins',sans-serif;
	border-radius: 5px;
	color: grey;
}
.remove-cont li:hover{
	background: lightgrey;
	cursor: pointer;
	color: #000;

}
  
  